<!-- <button (click)="login()">Login</button> -->
<!-- <app-listview *ngIf="isLogin"></app-listview> -->


<div class="landing-wrapper">
  <div class="login">
      <h1>Login</h1>
      <form [formGroup] = "loginForm" (ngSubmit)="onSubmit()">
          <div class="box">
              <div formGroupName = "userDetails">
                  <div class="form-item">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" 
                      class="form-control" 
                      id="email" 
                      autocomplete="off"
                      placeholder="Username" 
                      formControlName = "email"    
                      >
                      <small class="text-danger" 
                          *ngIf="!loginForm.get('userDetails.email').valid && loginForm.get('userDetails.email').touched"
                      >
                          Please Enter Valid Email
                      </small>
                  </div>
      
                  <div class="form-item">
                      <label for="pwd" class="form-label">Password</label>
                      <input type="password" 
                      class="form-control" 
                      id="pwd"
                      autocomplete="off"
                       placeholder="Password"
                       formControlName = "password" 
                       >
                  </div>
              </div>
              <div class="action-row">
                  <div class="form-check">
                      <input type="checkbox" value="" id="rememberme">
                      <label for="rememberme">
                          Remember me
                      </label>
                  </div>
                  <a href="#">Forget Password?</a>
              </div>
  
              <div class="btn-row">
                  <button class="btn">Login</button>
                  <a href="#">CREATE ACCOUNT</a>
              </div>
  
          </div>
      </form>
  </div>
</div>